<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultAPIKey</key>
	<string>YOUR_API_KEY_HERE</string>
	<key>DefaultBaseURL</key>
	<string>https://open.bigmodel.cn/api/paas/v4</string>
	<key>DefaultModelName</key>
	<string>glm-4-air-250414</string>
	<key>DefaultFreeUses</key>
	<integer>50</integer>
</dict>
</plist>